<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedUp</title>
    <link rel="stylesheet" href="/static/main.css">
    
</head>


<body>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <br>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/Blood_pressure_monitoring.jpg" class="d-block w-100 h-75" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/128880167-medical-healthcare-concept-doctor-in-hospital-with-digital-medical-icons-graphic-banner-showing-symb.jpg" class="d-block w-100 h-75" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100 h-75" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


    <hr class="featurette-divider">

        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading">Book and track your medical appointments <span class="text-muted"></span></h2>
            <p class="lead">Book medical appointments on the go and track your medical history by signing in to your account</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="static/139449629-schedule-of-doctors-appointments-vector-illustration-isolated-banner-timetable-work-planning-coordin.jpg">
          </div>
        </div>
      
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Book medical test from your home </h2>
            <p class="lead">Get instant appointment confirmation</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="static/pexels-photo-2280549.jpeg">
          </div>
        </div>

</body>
</html>
